# Ignorar directorios generados durante la construcción
# dist/    <-- Comenta o elimina esta línea

# Otros contenidos de .gitignore
coverage/
.env
node_modules/
logs/
*.log
*.log.*
*.pid
*.seed
*.pid.lock
lib-cov
*.lcov
.sass-cache/
*.sass-cache/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
